---
title: Colton English - Resume
---

<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>{{ page.title }}</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <link rel="stylesheet" href="main.css" media="print">
    <script src='main.js'></script>
</head>

<body>
    {% assign resume = site.data.resume %}

    <header>
        <h1 id="name">{{ resume.contact.name }}</h1>
        <ul>
            <li><a href="tel:{{ resume.contact.phone }}">{{ resume.contact.phone }}</a></li>
            <li><a href="mailto:{{ resume.contact.email }}">{{ resume.contact.email }}</a></li>
            {% for link in resume.contact.links %}
            <li><a href="{{ link }}">{{ link }}</a></li>
            {% endfor %}
        </ul>
    </header>
    <main>
        <h2 id="summary">Summary</h2>

        {{ resume.summary | markdownify }}

        {% for term in resume.keyterms %}
        <h3 id="{{ term.title | slugify }}" data-language="{{ term.class }}">{{ term.title }}</h3>
        {{ term.values | array_to_sentence_string | markdownify }}
        {% endfor %}

        <h2 id="experience">Experience</h2>

        <div class="roles">
            {% for role in resume.experience %}
            <div class="role">
                <h3>{{ role.title }}</h3> <p class="date">| {{ role.period }}</p>
                <h4>{{ role.company }}</h4>
                {% for item in role.accomplishments %}
                {% if forloop.first %}
                <h5>Accomplishments</h5>
                <ul>
                    {% endif %}
                    <li>{{item}}</li>
                    {% if forloop.last %}
                </ul>
                {% endif %}
                {% endfor %}
                {% for item in role.description %}
                {% if forloop.first %}
                <h5>Role Description</h5>
                <ul>
                    {% endif %}
                    <li>{{item}}</li>
                    {% if forloop.last %}
                </ul>
                {% endif %}
                {% endfor %}
            </div>
            {% endfor %}
        </div>

        <h2 id="education">Education</h2>

        <h3 id="computer-information-systems-diploma">Computer Information Systems Diploma</h3>

        <h4 id="red-deer-polytechnic">Red Deer Polytechnic</h4>

        <p>2009 - 2011</p>

        <h3 id="computer-science">Computer Science</h3>

        <h4 id="the-university-of-lethbridge">The University of Lethbridge</h4>

        <p>2011 - 2012</p>
    </main>
</body>

</html>
