---
title: Colton English - Resume
---

<!DOCTYPE html>
<html lang="en">

<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-WZ3X1J5BL0"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-WZ3X1J5BL0');
    </script>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name="description"
        content="Resume of Colton English; Professional portfolio of Colton English; Colton English">
    <title>{{ page.title }}</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <link rel="stylesheet" type='text/css' media="print" href="main.css">
    <script src='main.js' defer></script>
</head>

<body>
    <article>
        {% assign resume = site.data.resume %}
        <header>
            <h1 id="name">{{ resume.basics.name }}</h1>
            <ul>
                <li><a href="tel:{{ resume.basics.phone }}">{{ resume.basics.phone }}</a></li>
                <li><a href="mailto:{{ resume.basics.email }}">{{ resume.basics.email }}</a></li>
                {% if resume.basics.url %}
                <li><a href="{{ resume.basics.url }}">{{ resume.basics.url | remove: 'https://' | remove: 'http://' }}</a></li>
                {% endif %}
                {% for profile in resume.basics.profiles %}
                <li><a href="{{ profile.url }}">{{ profile.url | remove: 'https://' | remove: 'http://' }}</a></li>
                {% endfor %}
            </ul>
        </header>
        <main>
            <h2 id="summary">Summary</h2>

            {{ resume.basics.summary | markdownify }}

            {% for skill in resume.skills %}
            <h3 id="{{ skill.name | slugify }}" data-language="{{ skill.class }}">{{ skill.name }}</h3>
            {{ skill.keywords | array_to_sentence_string | markdownify }}
            {% endfor %}

            <div id="roles">
                <h2>Experience</h2>

                {% for role in resume.work %}
                <div class="role">
                    <h3>{{ role.position }}</h3>
                    <p class="date">{{ role.startDate | date: "%b %Y" }} - {{ role.endDate | date: "%b %Y" | default: 'Present' }}</p>
                    <h4>{{ role.name }}</h4>
                    {% if role.highlights.size > 0 %}
                    <h5>Accomplishments</h5>
                    <ul>
                        {% for item in role.highlights %}
                        <li>{{ item }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    {% if role.summary %}
                    <h5>Role Description</h5>
                    {{ role.summary | markdownify }}
                    {% endif %}
                </div>
                {% endfor %}
            </div>

            <div id="education">
                <h2>Education</h2>

                {% for edu in resume.education %}
                <h3 id="{{ edu.area | slugify }}{% if edu.studyType %}-{{ edu.studyType | slugify }}{% endif %}">{{ edu.area }}{% if edu.studyType %} {{ edu.studyType }}{% endif %}</h3>

                <h4 id="{{ edu.institution | slugify }}">{{ edu.institution }}</h4>

                <p>{{ edu.startDate | date: "%Y" }} - {{ edu.endDate | date: "%Y" | default: 'Present' }}</p>
                {% endfor %}
            </div>
        </main>
        <footer>
        </footer>
    </article>
    <nav>
        <hr>
        <a href="{{ '/about' | absolute_url }}">About</a>
        <span aria-valuetext="With love from Canada">❤️ 🇨🇦</span>
    </nav>
</body>

</html>
