---
title: Colton English - Resume
---

<!DOCTYPE html>
<html lang="en">

<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-WZ3X1J5BL0"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-WZ3X1J5BL0');
    </script>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name="description"
        content="Resume of Colton English; Professional portfolio of Colton English; Colton English">
    <title>{{ page.title }}</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <link rel="stylesheet" type='text/css' media="print" href="main.css">
    <script src='main.js' defer></script>
</head>

<body>
    <article>
        {% assign resume = site.data.resume %}
        <header>
            <h1 id="name">{{ resume.basics.name }}</h1>
            <ul>
                <li><a href="tel:{{ resume.basics.phone }}">{{ resume.basics.phone }}</a></li>
                <li><a href="mailto:{{ resume.basics.email }}">{{ resume.basics.email }}</a></li>
                {% for profile in resume.basics.profiles %}
                <li><a href="{{ profile.url }}">{{ profile.network }}</a></li>
                {% endfor %}
            </ul>
        </header>
        <main>
            <h2 id="summary">Summary</h2>

            {{ resume.basics.summary | markdownify }}

            {% for skill in resume.skills %}
            <h3 id="{{ skill.name | slugify }}" data-language="{{ skill.level }}">{{ skill.name }}</h3>
            {{ skill.keywords | array_to_sentence_string | markdownify }}
            {% endfor %}

            <div id="work">
                <h2>Experience</h2>

                {% for job in resume.work %}
                <div class="role">
                    <h3>{{ job.position }}</h3>
                    <p class="date">{{ job.startDate }} - {{ job.endDate }}</p>
                    <h4>{{ job.name }}</h4>
                    {% if job.highlights %}
                    <h5>Highlights</h5>
                    <ul>
                        {% for highlight in job.highlights %}
                        <li>{{ highlight }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    <h5>Summary</h5>
                    <p>{{ job.summary }}</p>
                </div>
                {% endfor %}
            </div>

            <div id="education">
                <h2>Education</h2>

                {% for education in resume.education %}
                <div class="education">
                    <h3>{{ education.studyType }}</h3>
                    <h4>{{ education.institution }}</h4>
                    <p>{{ education.startDate }} - {{ education.endDate }}</p>
                </div>
                {% endfor %}
            </div>
        </main>
        <footer>
        </footer>
    </article>
    <nav>
        <hr>
        <a href="{{ '/about' | absolute_url }}">About</a>
        <span aria-valuetext="With love from Canada">❤️ 🇨🇦</span>
    </nav>
</body>

</html>
