header {
    display: grid;
}

header h1 {
    grid-column: 1;
}

header ul {
    break-before: column;
    grid-column: 2;
    text-align: right;
    list-style: none;
}


@media (hover: none) {
    header ul>li {
        margin-bottom: 0.5em;
    }
}

@media screen and (min-width: 525px), print {
    .role>.date::before {
        content: '| ';
    }

    .role>h3,
    .role>.date {
        display: inline;
    }
}

@media not screen and (min-width: 525px) {
    .role>.date{
        margin-top: -1em;
    }
}


.role>.date {
    font-size: 1em;
    font-weight: lighter;
}

div.role {
    break-inside: avoid-page;
}

#profiles h2::before {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font: var(--fa-font-solid);
    content: '\f2bd';
    filter: grayscale();
}

/* emulate paper margins */
@media screen and (min-width: 8in) {
    body {
        max-width: 8in;
        margin: auto;
    }
}

@media print {

    a,
    a:visited {
        color: black;
    }

    #profiles {
        display: none;
    }
}
