header {
    display: grid;
}

header h1 {
    grid-column: 1;
}

header ul {
    break-before: column;
    grid-column: 2;
    text-align: right;
    list-style: none;
}

/* emulate paper margins */
@media screen and (min-width: 8in) {
    body {
        max-width: 8in;
        margin: auto;
    }
}

.role > h3, .role > p {
    display: inline;
}
.role > .date {
    font-size: 1em;
    font-weight: lighter;
}

div.role {
    break-inside: avoid-page;
}
